/* main */
:root {
    --border: #595959;
    --border-shadow: #97979770;
}
html {
    font-size: 16px;
    background: #1e1e1e;
    color: #f1f1f1;
    font-family: system-ui;
}
* {
    box-sizing: border-box;
}
article {
    width: 100%;
    border: .25rem solid var(--border);
    box-shadow: 0 1px 3px var(--border-shadow);
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    margin-bottom: 1rem;
}
article::before {
    content: attr(data-title);
    position: absolute;
    background: var(--border);
    padding: .5rem;
    border-radius: .5rem;
    top: 0; left: 0;
}
article.center {
    display: flex;
    justify-content: center;
}
/* Slider album on flexbox */
.slider {
    display: flex;
    gap: 2rem;
}
.slider .img {
    flex: 1;
    height: 500px;
    border-radius: 1rem;
    background-position: center;
    transition: .25s ease-out;
}
.slider .img.active {
    flex: 5;
}
/* LED board */
.board {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
}
.board > div {
    width: 1rem;
    height: 1rem;
    background: #2d2d2d;
    transition: .1s ease-out;
}
/* Separator */
.separator {
    display: flex;
    align-items: center;
}
.separator::before, .separator::after {
    flex: 1;
    content: "";
    background: var(--border);
    height: .25rem;
    margin-inline: 1rem;
    border-radius: 1rem;
}
/* step animation */
.steps {
    background-color: white;
    width: 100px;
    height: 125px;
    background-image: url('./assets/img/ss.png');

    animation: sprite-steps .75s steps(7, start) infinite;
    --end-step: -674px;
}
@keyframes sprite-steps {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: var(--end-step);
    }
}
/* switch */
/*.switch + label::before {
    width: 3.5rem;
    min-height: 2rem;
    background: white;
    content: "";
    display: block;
}*/
.switch {
    display: none;
}
.switch + label {
    position: relative;
}
.switch + label::before {
    content: "";
    display: block;
    width: 3rem;
    height: 1.75rem;
    background: gray;
    border-radius: 1rem;
    transition: ease-out .25s;
}
.switch:checked + label::before {
    background: #19b819;
}
.switch + label::after {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background: #ebebeb;
    border-radius: 1rem;
    position: absolute;
    left: .25rem;
    top: .25rem;
    transition: ease-out .25s;
}
.switch:checked + label::after {
    left: 1.5rem;
}